/* --------- Global style */

body {
    background-color: white;
    font-family: "Roboto", sans-serif;
    color: #030508;
    text-align: center;
}



#main {
    width: 160px;
    height: 40vh;
    margin-top: 4px;
}

.score-area {
    margin 5px auto;
    width 60%;
    font-size 1.2rem;
}

.